/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --ifm-color-primary: #ba8fff;
  --ifm-background-color: #18191a;
  --ifm-background-surface-color: #242526;
  --transition-main: 0.6s;
}

body {
  color: var(--ifm-color-primary);
  background-color: var(--ifm-background-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: var(--ifm-background-surface-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.5px 17px;
}
.nav-items {
  display: flex;
  gap: 15px;
  align-items: center;
}
.nav-items a {
  text-decoration: none;
  color: white;
  transition: var(--transition-main);
}
.nav-items a:hover {
  color: var(--ifm-color-primary);
}
.wrapper {
  margin: 0 auto;
  max-width: 900px;
}
.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.post-item {
  border: 5px solid var(--ifm-background-surface-color);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  gap: 25px;
  position: relative;
}
.loader-styles {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  max-width: 150px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--ifm-color-primary);
}
.info-container {
  width: 100%;
}
.title-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.text {
  background-color: var(--ifm-background-surface-color);
  border-radius: 6px;
  padding: 10px;
}
.post-id {
  background-color: var(--ifm-background-surface-color);
  padding: 4px 8px;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 6px;
}
.line {
  width: 30%;
  margin: 20px auto;
}

.single-post-container {
  margin: 20px auto;
  max-width: 1000px;
  border: 4px solid var(--ifm-background-surface-color);
  border-radius: 6px;
  display: flex;
  padding: 10px;
}
.single {
  max-width: 200px;
  margin: 0 10px 0 0;
}
.username {
  display: flex;
  gap: 10px;
}
.user-name-countiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.info-user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 6px;
  padding: 10px;
  background-color: var(--ifm-background-surface-color);
  text-align: center;
  width: 100%;
}

.info-title {
  margin: 0 0 10px 0;
}
